<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	
    
    <bean id="sessionFactory" 
        class="yfsc.infrastructure.HibernateUtil" 
        factory-method="getSessionFactory" 
        scope="singleton" />
	
	<bean id="logger"
		class="java.util.logging.Logger"
		factory-method="getLogger"
		scope="singleton">
			<constructor-arg index="0" value="yfsc" /> 
	</bean>
		
	<bean id="securityContext"
		class="org.springframework.security.core.context.SecurityContextHolder"
		factory-method="getContext"
		scope="request">
			<aop:scoped-proxy />
	</bean>
    
    <bean id="hibernateFilter" class="yfsc.infrastructure.HibernateFilter">
        <constructor-arg index="0" ref="sessionFactory" />
		<constructor-arg index="1" ref="logger" />
    </bean>
	
	<bean id="jsonView" class="org.springframework.web.servlet.view.json.MappingJacksonJsonView" />
    
	<bean id="jsonModelAndView" class="org.springframework.web.portlet.ModelAndView">
		<constructor-arg index="0" value="jsonView" />
	</bean>
	
	<!--<bean id="annualRegistrationServiceController" class="yfsc.controllers.AnnualRegistrationServiceController">
		<property name="jsonView" value="jsonView" />
	</bean>-->
	
	<bean id="announcementService" class="yfsc.entities.persistence.AnnouncementService">
        <constructor-arg index="0" ref="sessionFactory" />
		<property name="currentAnnouncementCount" value="5" />
    </bean>
	
	<bean id="calendarItemService" class="yfsc.entities.persistence.CalendarItemService">
        <constructor-arg index="0" ref="sessionFactory" />
    </bean>
    
	
	<bean id="coachService" class="yfsc.entities.persistence.CoachService">
        <constructor-arg index="0" ref="sessionFactory" />
    </bean>
	
	<bean id="invoiceService" class="yfsc.entities.persistence.InvoiceService">
        <constructor-arg index="0" ref="sessionFactory" />
    </bean>
	
	<bean id="invoicePaymentService" class="yfsc.entities.persistence.InvoicePaymentService">
        <constructor-arg index="0" ref="sessionFactory" />
    </bean>
	
	<bean id="registrationService" class="yfsc.businesslogic.RegistrationService">
		<constructor-arg index="0" ref="sessionFactory" />
		<constructor-arg index="1" ref="invoiceService" />
		<constructor-arg index="2" ref="skatingSessionService" />
		<constructor-arg index="3" ref="registrationTermService" />
	</bean>
	
    <bean id="registrationTermService" class="yfsc.entities.persistence.RegistrationTermService">
        <constructor-arg index="0" ref="sessionFactory" />
    </bean>
	
	<bean id="skatingSessionService" class="yfsc.entities.persistence.SkatingSessionService">
        <constructor-arg index="0" ref="sessionFactory" />
    </bean>
	
	<bean id="userService" class="yfsc.entities.persistence.UserService">
		<constructor-arg index="0" ref="sessionFactory" />
		<constructor-arg index="1" ref="securityContext" />
		<property name="rolePrefix" value="" />
		<property name="userRolename" value="User" />
		<property name="adminRolename" value="Admin" />
	</bean>
	
	<bean id="userDetailsService" class="yfsc.infrastructure.YfscUserDetailsService">
		<constructor-arg index="0" ref="userService" />
	</bean>
</beans>
