<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://bunglestink.homeip.net:5432/yfsc</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">43kbeijK</property>
    <mapping class="yfsc.entities.Announcement" />
	<mapping class="yfsc.entities.AnnualRegistration" />
	<mapping class="yfsc.entities.AnnualRegistrationSkater" />
	<mapping class="yfsc.entities.CalendarItem" />
	<mapping class="yfsc.entities.Coach" />
	<mapping class="yfsc.entities.RegistrationTerm" />
	<mapping class="yfsc.entities.Role" />
	<mapping class="yfsc.entities.SkatingSession" />
	<mapping class="yfsc.entities.User" />
  </session-factory>
</hibernate-configuration>
